* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #142850;
  color: #dae1e7;
  text-align: center;
  font-size: 1rem;
  padding: 0 15px;
}
.logo {
  border: 1px solid white;
  padding: 10px;
}
.link a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}
h1 {
  padding: 20px 0;
  font-size: 2rem;
}
.details {
  width: 80%;
  margin: 20px auto;
  padding: 15px 10px;
  border: 1px solid #dae1e7;
  border-left: 5px solid #00909e;
  background: #dae1e7;
}
.details > span {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0 5px;
}
.details span > span {
  color: red;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.col-one {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 40%;
  padding-bottom: 40px;
}
.col-two {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  height: 100%;
}
.container {
  margin-top: 20px;
  padding: 20px;
  width: 90%;
  border: 1px solid #dae1e7;
  border-top: 5px solid #00909e;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}
.container h3{
  text-align: center;
}
.commentDom {
  width: 90%;
  margin-top: 20px;
  padding: 0 20px;
}
.each-comment {
  border: 1px solid #dae1e7;
  border-radius: .25rem;
  margin-bottom: 20px;
  padding: 10px;
  background: #f1f1f1;
  background-clip: padding-box;
  color: #142850;
}
#key {
  float: right;
  margin-right: 10px;
  color: red;
}
.list-title {
  text-align: center;
  margin-bottom: 20px;
}
.list-title span {
  padding: 5px 15px;
  border: 1px solid #dae1e7;
  border-left: 5px solid #00909e;
  background: #dae1e7;
}
.comment {
  margin-top: 15px;
  line-height: 1.5;
  font-size: 1rem;
}
form {
  color: #495057;
}
input, textarea {
  width: 100%;
  margin: 5px 0 20px 0;
  border: 1px solid #dae1e7;
  border-radius: .25rem;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  color: #495057;
}
input {  
  height: cal(2px + 1.5em + .75rem);
}
input::placeholder {
  color: #787a7c;
}
.button {
  display: flex;
  justify-content: center;
}
button {
  font-weight: 600;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  text-align: center;
  border: 1px solid transparent;
  background: #27496d;
  color: #dae1e7;
  cursor: pointer;
  letter-spacing: 1px;
}
button:hover {
  background: #142850;
}
.footer-2 {
  background: #142850;
  padding: 50px 300px;
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 0;
}
.footer-2 {
  margin-top: -4px;
}
@media screen and (max-width: 870px) {
  .footer-2 {
    padding: 50px 40px;
    font-size: 14px;
  }
  h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 560px) {
  h1 {
    font-size: 1rem;
  }
  .details {
    width: 90%;    
  }
  .details > span {
    display: block;
    margin: 5px 5px;
  }
  .col-one, .col-two {
    width: 100%;
    justify-content: center;
  }
  .commentDom {
    width: 100%;
    margin-bottom: 40px;
  }
  .footer-2 {
    padding: 50px 10px;
    font-size: 14px;
  }
}