* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background: #142850;
  color: #dae1e7;
  text-align: center;
  font-size: 1rem;
}
h1 {
  padding: 20px 0;
}
.details {
  width: 70%;
  margin: 20px auto;
  padding: 15px 10px;
  border: 1px solid #dae1e7;
  border-left: 5px solid #00909e;
  background: #dae1e7;
}
.details > span {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 5px;
}
.details span > span {
  color: red;
}

.row {
  display: flex;
  justify-content: center;
}
.container {
  margin-top: 20px;
  padding: 20px;
  width: 40%;
  border: 1px solid #dae1e7;
  border-top: 5px solid #00909e;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}
form {
  color: #495057;
}
input, textarea {
  width: 100%;
  margin: 5px 0 20px 0;
  border: 1px solid #dae1e7;
  border-radius: .25rem;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  color: #495057;
}
input {  
  height: cal(2px + 1.5em + .75rem);
}
input::placeholder {
  color: #787a7c;
}
.button {
  display: flex;
  justify-content: center;
}
button {
  font-weight: 600;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  text-align: center;
  border: 1px solid transparent;
  background: #27496d;
  color: #dae1e7;
  cursor: pointer;
  letter-spacing: 1px;
}
button:hover {
  background: #142850;
}